/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can also add custom global styles here */
body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Ensure this matches your font selection */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}